<head>
  <link rel="stylesheet" type="text/css" href="../content/pokedex.css">
</head>
<div ng-controller="pokeController">
  <div id="addButtonDiv">
    <button id="addToTeamButton" ng-click="add()">Add To Team!</button>
  </div>
  <div id="pokedexPictureDiv">
    <div id="pokedexPicture">
      <img ng-src="{{data.sprites.front_default}}" width="250px" height="250px" ng-if="data !== undefined">
    </div>
  </div>
  <div id="pokedexNameDiv">
    <div id="pokedexName">{{data.name}}</div>
  </div>
  <div id="pokedexTypeDiv">
    <div ng-if="data !== undefined" id="pokedexType" class="type-{{type.type.name}}" ng-repeat="type in data.types">{{type.type.name}}</div>
  </div>
</div>
