<head>
  <link rel="stylesheet" type="text/css" href="../content/pokedex.css">
</head>


  <div id="boxForList">
    <div class="dexEntry">
      <span class="dexEntryTitle">Bulbasaur</span>
    </div>
    <div class="dexEntry">
      <span class="dexEntryTitle">Ivysaur</span>
    </div>
    <div class="dexEntry">
      <span class="dexEntryTitle">Venusaur</span>
    </div>
    <div class="dexEntry">
      <span class="dexEntryTitle">Charmander</span>
    </div>
    <div class="dexEntry">
      <span class="dexEntryTitle">Charmeleon</span>
    </div>
    <div class="dexEntry">
      <span class="dexEntryTitle">Charizard</span>
    </div>

  </div>
