<head>
  <link rel="stylesheet" type="text/css" href="../content/style.css">
</head>

<div id="teamBar">
  <div id="teamTitle"><b>Team</b></div>
  <div id="boxBar" ng-controller="TeamBarController">
    <div id="box1" class="box" ng-click="removeTeam(0)"><img ng-if="team[0] !== undefined" ng-src="{{team[0].sprites.front_default}}"></div>
    <div id="box2" class="box" ng-click="removeTeam(1)"><img ng-if="team[0] !== undefined" ng-src="{{team[1].sprites.front_default}}"></div>
    <div id="box3" class="box" ng-click="removeTeam(2)"><img ng-if="team[0] !== undefined" ng-src="{{team[2].sprites.front_default}}"></div>
    <div id="box4" class="box" ng-click="removeTeam(3)"><img ng-if="team[0] !== undefined" ng-src="{{team[3].sprites.front_default}}"></div>
    <div id="box5" class="box" ng-click="removeTeam(4)"><img ng-if="team[0] !== undefined" ng-src="{{team[4].sprites.front_default}}"></div>
    <div id="box6" class="box" ng-click="removeTeam(5)"><img ng-if="team[0] !== undefined" ng-src="{{team[5].sprites.front_default}}"></div>
  </div>
</div>
