body {
  margin: 0px;
  padding: 0px;
}

#pokedex {
  display: block;
  width: 100%;
  min-height: 535px;
}

#pokedexList {
  display: inline-block;
  width: 25%;
}

.dexEntry {
  box-shadow: 0 0 0 1px #8a8a8a inset;
  padding: 5px;
  margin-bottom: -1px;
}

.dexEntryTitle {
  color: #881111;
}

#boxForList {
  padding-left: 50px;
  padding-top: 30px;
  display: inline-block;
  height:535px;
  width:300%;
  overflow:auto;
}

#pokedexDisplay {
  display: inline-block;
  width: 70%;
  /*box-shadow: 0 0 0 1px #8a8a8a inset;*/
}

#addButtonDiv {
  width: auto;
  /*box-shadow: 0 0 0 1px #8a8a8a inset;*/
  overflow: hidden;
}

#addToTeamButton {
  float: right;
  margin-right: 60px;
  margin-top: 10px;
  padding: 10px;
  width: 160px;
  height: 50px;
  font-size: 20px;
}

#pokedexPictureDiv {
  width: auto;
  /*box-shadow: 0 0 0 1px #8a8a8a inset;*/
  margin-bottom: 20px;
}

#pokedexPicture {
  width: 360px;
  height: 360px;
  margin: auto;
  background-color: blue;
}

#pokedexNameDiv {
  width: 360px;
  margin: auto;
    /*box-shadow: 0 0 0 1px #8a8a8a inset;*/
  margin-bottom: 20px;
}

#pokedexName {
  text-align: center;
}

#pokedexTypeDiv {
  width: 360px;
  margin: auto;
  /*box-shadow: 0 0 0 1px #8a8a8a inset;*/
  text-align: center;
  margin-bottom: 20px;
}

#pokedexType {
  display: inline-block;
  padding: 5px;
  padding-left:14px;
  padding-right: 14px;
  background-color: #FF8811;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,"Trebuchet MS";
  color: white;
  text-align: center;
  margin-bottom:20px;

}
