body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(200, 200, 200);
  background-image: url("background.png");
  background-size: 80%;
}

#teamBar {
  width: 100%;
  height: 150px;
  padding: 10px;

}

#teamTitle {
  text-align: center;
  display: block;
  margin-right: 36px;
  line-height: 1.5em;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24pt;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#boxBar {
 text-align: center;
 display: block;
}

.box {
  display: inline-block;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 2px #8a8a8a inset;
  margin-right: 36px;
  background-color: white;
}
